[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
Type=simple
ExecStart=/opt/prometheus/prometheus \
--config.file /opt/prometheus/prometheus.yml \
--storage.tsdb.path /opt/prometheus/ \
--web.console.templates=/opt/prometheus/consoles \
--web.console.libraries=/opt/prometheus/console_libraries

[Install]
WantedBy=multi-user.target